@use '../../../../styles/mixins.scss';
@use '../../../../styles/variables.scss';
@use '../shared.scss' as buttonGlobalShared;

.auth-button {
  @include mixins.buttonBasic();
  @include mixins.buttonMedium();

  button {
    background-color: variables.$authButtonColor;
    color: black;
  }

  @media (hover: hover) {
    &:hover {
      button {
        background-color: variables.$confirmationColor;
      }
    }
  }
}
