// Colors
$titleColor : #FFC300;
$titleTextColor : #5F011C;
$backgroundColor: #FFFFF2;
$confirmationColor:#378016;
$beige : #EADAC5;
$warningColor:#DA3435;
$returnButtonColor: #900C3F;
$dropZoneAllowed : #AAF7B6;
$authButtonColor: #83B6AE;

$ZeninaBoja:#BB2A43;
$ZeninaBojaTeksta: #fefefe;
$AmkovaBoja:#000;
$AmkovaBojaTeksta :#F2D333;
$ZlajinaBoja: #254391;
$ZlajinaBojaTeksta: #FFFFFF;
$SpahinaBoja: #961F44;
$SpahinaBojaTeksta: #E3BE2C;
$TijaninaBoja: #D38C7B;
$TaretovaBoja: #389D9D;
$NihinaBoja: #FFFFFF;
$NihinaBojaTeksta:#BE2B27;
$DininaBoja: #EE9C28;
$IzinaBoja: #0D4330;
$IzinaBojaTeksta:#FAFE3B;


// Widths
$betWidth: 500px;
$betMobileWidth: 95vw;
$betMediumScreenWidth: 700px;

// Margins and paddings
$betBodyMargin: 10px 0px;